/* 
@author Jack Ringer
Date: 10/4/2024
Description: 
Contains CSS definitions for the options table shown above the textarea input.
*/

.table-bordered {
    border-collapse: collapse;
    width: 100%;
}
 
.table-bordered td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-bordered th {
    border: 1px solid #ddd;
    padding: 8px;
}