/*
@author Jack Ringer
Date: 10/4/2024
Description:
CSS related to SearchResults.tsx
*/

.flex-container {
    display: flex;
    gap: 1rem; /* Adjust the gap between the textarea and UserOptions as needed */
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

#user-options-container {
    flex: 0 0 20rem;
} 