@tailwind base;
@tailwind components;
@tailwind utilities;

page-wrapper {
    @apply relative min-h-[100vh] bg-white dark:shadow-[inset_0_5rem_5rem_0_rgb(0_0_0_/_0.7)] light:shadow-none transition-all;
}

.loader {
    @apply flex absolute z-0 top-0 left-0 h-[6rem] w-full items-center justify-center text-3xl transition-all opacity-0;
}

.loader.active {
    @apply z-50 opacity-100;
}

.scroll-shadow {
    @apply relative z-10 w-full max-h-[40vh];
}

#search-container {
    @apply relative z-10 md:max-w-screen-lg mx-auto p-8 pt-0;
}

.page-container {
    @apply mx-auto p-6 pt-28;
}

.glass-container {
    @apply relative z-10 flex-col max-h-[80vh] dark:bg-gray-600/30 dark:text-white light:bg-gray-50/30 light:text-black backdrop-blur-md shadow-lg rounded-2xl break-all opacity-0;
}

.glass-container.active {
    @apply opacity-100;
}

#btn-theme-mode {
    @apply min-w-0 absolute top-5 right-5 h-10 w-10 bg-transparent dark:hover:bg-gray-800 light:hover:bg-gray-100 rounded-full;
}

#search-results-list {
    @apply p-4;
}

.search-result {
    @apply transition-background p-3;
}

.btn-back {
    @apply text-medium text-primary hover:text-white transition-colors mb-4;
}

#chem-page {
    :is(h3) {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.molecule-structure-wrapper {
    position: relative;
    .download-link {
        margin-top: 10px;
    }
}

.molecule-structure-link:hover .molecule-structure-svg {
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.btn {
    @apply bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}


/* For results page/table, remove top/bottom spacing */
#table-results {
    border-spacing: 2px;
 }
 
#table-results td {
    padding: 2px; 
    margin: 2px;
 }